* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  background-color: #ffffff;
  margin: 0;
  font-size: 16px;
  color: #000000;
}

a:focus {
  outline: 0.15rem dashed #000000;
}

main {
  max-width: 48rem;
  padding: 1.5rem;
  margin: auto;
  word-wrap: break-word;
  font-size: clamp(1.2rem, 2vw, 1.375rem);
  text-align: justify;
}

main a {
  text-decoration: underline;
  color: #dc143c;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.4375rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.menu {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
}

.menu,
canvas {
  display: block;
}
