html {
  overflow: hidden;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  height: 100vh;
  background-color: #ffffff;
  margin: 0;
  font-size: 16px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav,
ul,
main {
  height: 100%;
}

a {
  text-decoration: none;
  color: #000000;
}

a:hover {
  text-decoration: underline;
}

a:focus {
  outline: 0.2rem dashed #000000;
}

nav ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: clamp(2rem, 10vw, 3.5rem);
  line-height: clamp(2rem, 10vw, 3.5rem);
  font-weight: 900;
  text-align: center;
  letter-spacing: 0.4rem;
  color: #000000;
  list-style: none;
  margin: 0;
  padding: 0;
}

.visually_hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.gradient {
  width: 15.625rem;
  height: 15.625rem;
  filter: blur(1.875rem);
  position: absolute;
  border-radius: 50%;
  z-index: 1;
  mix-blend-mode: screen;
  pointer-events: none;
  background: linear-gradient(
      to right,
      red,
      orange,
      yellow,
      green,
      blue,
      indigo,
      violet
    )
    no-repeat;
}
